{% extends "base.html" %}
{% block title %}
Главная страница
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<br>
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="/create-category/" role="button" aria-expanded="false"
       aria-controls="collapseExample">Создать новую категорию</a>
</p>
<h4>Список существующих категорий</h4>
<ul class="list-group list-group-horizontal">
    {% for item in objects_list %}
    <li class="list-group-item">
        <b>{{item.name}}<br></b>
        <span>Количество курсов: <span class="badge badge-primary badge-pill">{{item.course_count()}}</span><br>
        <a href="/courses-list/?id={{item.id}}">Показать курсы</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}