{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div>
    <a href="/">назад на главную</a>
</div>
<br>
<p>
    <a href="/create-student/" class="btn btn-outline-primary">Создать студента</a>
    <a href="/add-student/" class="btn btn-outline-primary">Добавить студента на курс</a>
</p>
<h4>Добавление студента на курс</h4>
<form method="post">
    <div>
        <select class="form-select" style="width:12em;" name="course_name" size="5">
            {% for item in courses %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select class="form-select" style="width:12em;" name="student_name" size="5">
            {% for item in students %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button class="btn btn-outline-primary" type="submit">Записать</button>
</form>
{% endblock %}